<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <title>Hello, world!</title>
</head>

<body>

  <!-- the container is a class from Bootstrap. It defines mobile responsive container
     that tries to center on the screen -->
  <div class="container">


    {{#each success}}
    <div class="alert alert-success">{{this}}</div>
    {{/each}}

    {{#each error}}
    <div class="alert alert-danger">{{this}}</div>
    {{/each}}

    {{#block "content"}}{{/block}}


  </div>
  {{#block "script"}}{{/block}}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script>
    {{#if success}}
       {{#each success}}
          const message = "{{this}}";
          toastr.success(message);
       {{/each}}
    {{/if}}
  </script>
</body>

</html>