{{#extends "base"}}

{{#block "content"}}
<h1>Add a New Review</h1>
    <form method="POST">
        <div>
            <label>Email</label>
            <input type="text" class="form-control" name="email"/>
        </div>
        <div>
            <label>Review</label>
            <textarea class="form-control" name="review"></textarea>
        </div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </form>
{{/block}}

{{/extends}}